@font-face {
  font-family: Hauora;
  src: url("../assets/fonts/otf/Hauora-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: Hauora;
  src: url("../assets/fonts/otf/Hauora-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: Hauora;
  src: url("../assets/fonts/otf/Hauora-SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: Hauora;
  src: url("../assets/fonts/otf/Hauora-Bold.otf") format("opentype");
  font-weight: 700;
}
